.DS_Store
/build/
/target/
/db/
/derby.log
/conf/server/config.properties
/conf/test/config.properties
/src/main/webapp/WEB-INF/classes/
/src/main/resources/static/mobile/buddilive-android.apk
/.env
/ansible/inventory/production.ini
/buddilive-data/
/.idea/
