[webservers]
buddilive_server ansible_host=your-server-hostname ansible_user=your-server-username

[webservers:vars]
domain_name=your-domain-name
app_name=buddilive

db_name=buddilive
db_user=buddilive

mail_host=smtp.gmail.com
mail_port=587
mail_auth=true
mail_tls=true

app_port=8080

certbot_email=your-email@example.com
